@{
    ViewBag.msg = "About Us";   
    Layout = "~/Views/Shared/Homepage.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
    <link href="~/css/abstyle.css" rel="stylesheet" />
</head>

    <div class="about-section">
        <div class="container">
            <h2 color="orange"><font color="orange">About Us</font></h2>
            <div class="about-section">
                <div class="col-md-7 ab-text">
                    <h4>Welcome to <span>FoodCorner</span></h4>
                    <p>
                        In restaurants, all guests should be welcomed at the entrance within 1 minute of arrival; guests are greeted warmly with good eye-contact.

                        Guests are escorted and seated within 2 minute of their arrival, if seats are available; menus and wine lists (where applicable) are presented immediately at all meal periods.
                        At dinner once guest is seated and settled guests are asked if they would like an aperitif before being presented with the wine list and menu.
                    </p>
                    <div class="why">
                        <h4>Why Choose Us</h4>
                        <p>
                            Restaurants have been in the outdoor catering business for nearly twenty years. We have catered for both large and small venues.

                            Quality Cuisine
                            When you pick an outdoor catering company you want someone you can rely on to provide good quality and professional cuisine , Restaurants can assure you of this.

                            Fresh Food
                            All our food is freshly prepared on a daily basis ensuring that you receive only the finest cuisine ,delicious to taste. Our food not only tastes good it looks wonderful as well.

                            Friendly Staff
                            Our staff understand that this is your day and that we need to be polite and courteous. We strive for excellence both in the quality of our food and in our interaction with you.


                        </p>
                    </div>
                    @*<ul>
                            <li>Lorem Ipsum is simply dummy text of the printing.</li>
                            <li>Lorem Ipsum is simply dummy.</li>
                            <li>Lorem Ipsum is simply dummy text.</li>
                        </ul>*@
                </div>
                <div class="col-md-5 chef">

                    <img src="~/images/2.jpg" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>


</html>
