@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Rest.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <style>
                .row {
                    width: 1900px;
                    
                }
            </style>
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <h3 class="box-title">Booking</h3>
                <!-- quick email widget -->
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-envelope"></i>
                        

                    </div>

                    <style>
                        .quickpick {
                        }

                            .quickpick h4 {
                                margin-left: 20px;
                                
                            }
                    </style>
                    <style>
                        .quickpicktbl {
                            border-style: groove;
                            width: 500px;
                            height: 250px;
                            margin-left: 10px;
                        }

                            .quickpicktbl h4 {
                                margin-top: 20px;
                            }
                    </style>

                    <center>
                     
                        <table class="table">

                            <thead>
                                <tr>

                                    <th>Time</th>
                                    <th>Customer</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                        
                                </tr>
                            </thead>

                        </table>


                    </center>
            </section>

        </div>


 